# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log
logs/
*/logs/

# IntelliJ
.idea/
*.iml
out/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

.env
