<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page de connexion</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="cadre-login">
      <div class="header">
        <button class="btn-pmb"><strong>Pay My Buddy</strong></button>
      </div>
      <form th:action="@{/login}" method="post" class="login-form">
        <input
          id="email"
          type="email"
          name="username"
          placeholder="Mail"
          class="styled-input"
          required />
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Mot de passe"
          class="styled-input"
          required />
        <button type="submit" class="submit-login"><strong>Se
            connecter</strong></button>
      </form>
      <footer class="form-footer">
        <a href="/register" class="link">Créer un compte</a>
      </footer>
      <div class="alert-container">
        <p th:if="${param.error}" class="alert-error">Identifiant/mot de passe
          incorrect</p>
      </div>
    </div>
  </body>
</html>
